@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-light-webfont.woff2') format('woff2'),
    url('../fonts/opensans-light-webfont.woff') format('woff'),
    url('../fonts/opensans-light-webfont.ttf') format('truetype'),
    url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibold-webfont.woff') format('woff'),
    url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
    url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}




body {
	width: 100%;
    height: 100%;
    background: #fff;
    background-size: 100%;
    font-family: open_sansregular;
    color: #332c24;
}

.mobile-only{display: none!important}
.desctop-only{display: block!important}

.block-header {
    text-align: center;
}
.block-title {
    text-transform: uppercase;
    text-shadow: 0px 1px 2px rgb(0, 0, 0);
}

h1.block-title {
    font-size: 60px;
    font-family: open_sanssemibold;
}
h2.block-title {
    font-size: 35px;
    margin-top: 10px;
}
h4.block-title {
    font-size: 16px;
}


.block-content{
    background: url("../images/template/line-head.png") top center no-repeat;
    max-width: 415px;
    margin: auto;
}
.block-content span {
    padding-top: 30px;
    display: block;
}


.mrg-t100{margin-top: 100px;}
.mrg-t50{margin-top: 50px;}

/* кнопки */
.button-dark {
    background: #1D0804;
    color: #fff;
    padding: 10px 15px;
    display: block;
    font-size: 16px;
    max-width: 280px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    transition: all 0.3s ease;
}
.button-dark:hover {
    text-decoration: none;
    color: #332C24;
    background: #FBEDDE;
}

.button-white {
    background: #fff;
    color: #332C24;
    padding: 10px 15px;
    display: block;
    font-size: 16px;
    max-width: 280px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    transition: all 0.3s ease;
}
.button-white:hover {
    text-decoration: none;
    color: #332C24;
    background: #FBEDDE;
}


/* шапка */
.header {
    background: #FBEDDE;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    position: relative;
    z-index: 2;
}

.header-inner {
    padding: 28px 0;
    overflow: hidden;
    font-size: 16px;
}

.header-inner a {
    color: #332c24;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.30);
}

.phone {
    font-family: open_sansregular;
    font-size: 16px;
    display: block;
    padding: 10px 0;
}
.cart {
    background: url("../images/template/icons/cart-bg.png") center left no-repeat;
    padding: 10px;
    padding-left: 40px;
    display: block;
}

.profile {
    background: url("../images/template/icons/profile-bg.png") center left no-repeat;
    padding: 10px;
    padding-left: 30px;
    display: block;
}


/* топ меню */
.top-menu-inner {
    background: #FBEDDE;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    position: relative;
    z-index: 1;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}



.top-menu-inner .navbar-nav > li > a {
    text-transform: uppercase;
    font-size: 12px;
    padding: 12px 5px;
    color: #332c24;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.30);
    transition: all 0.3s ease;
}

.top-menu-inner .navbar-nav > li > a:hover {
    background: transparent;
    text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
}

.top-menu-inner .navbar-nav > li {
    margin: 10px 0;
    border-right: 1px solid #F7DBBE;
    border-left: 1px solid #fff;
}

.top-menu-inner .navbar-nav > li:first-child {
    border-left: none;
}
.top-menu-inner .navbar-nav > li:last-child {
    border-right: none;
}

.top-menu-main{
    background: url("../images/template/top-slider-bg.jpg");
}
.icon-bar {
    background: #1D0804;
}





/* верх слайдер */
.top-menu-slider span {
    text-align: center;
    width: 100%;
    display: block;
    padding: 146px;
}

/* блоки */
.block-content .button-dark {
    margin-top: 60px;
    margin-bottom: 60px;
    display: block;
}
.block1 img {
    margin: auto;
}
.block-header {

}
.top-block-header {
    background: #FBEDDE;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
    position: relative;
    z-index: 11;
}
.top-block-bg {
    background: url("../images/template/diamond-bg.png") bottom center no-repeat;
    position: relative;
    min-height: 71px;
    z-index: 12;
    margin-bottom: -91px;
}

.block2{
    background: #CDE4F6;
}

.block3{
    background: #dcdfe6;
    position: relative;
    z-index: 10;
}

.block2-bg{
    background: url("../images/template/block2-bg.jpg") bottom center no-repeat;
    overflow: hidden;
}
.block3-bg{
    background: url("../images/template/block3-bg.jpg") bottom center no-repeat;
    overflow: hidden;
}
.block3 h1.block-title {
    font-size: 50px;
    font-family: open_sansregular;
}

.block3 h2.block-title {
    letter-spacing: 4px;
}


.catalog-diamond h2 {
    text-transform: uppercase;
    text-align: center;
}

/* хлебные крошки breadcrumbs */
.breadcrumbs a {
    color: #332c24;
    cursor: pointer;
}
.breadcrumbs a:hover, .breadcrumbs a:focus{
    text-decoration: underline;
}
.active-way {
    text-decoration: none!important;
    cursor: default!important;
}

/* контент */
.mid-content-inner {
    padding: 15px;
}

/* страницы */
.encyclopedia {
    background: #DFCDCB;
}

.top-encyclopedia-inner {
    background: url("../images/template/enciclopediya-bg.jpg") center top no-repeat;
    overflow: hidden;
}
.page-title {
    text-transform: uppercase;
    font-size: 50px;
    text-shadow: 0px 1px 2px rgb(0, 0, 0);
    color: #44556e;
    text-align: center;
}
.page-header {
    border: none;
    padding: 98px 0;
}
.top-block-header-bredcrumbs {
    background: #FBEDDE;
    padding: 10px 0;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
    position: relative;
    z-index: 11;
}
.item-anonse1 {
    border-top: 10px solid #1D0805;
}
.item-encyclopedia {
    border-top: 10px solid #1D0805;
    border-bottom: 1px solid #EBEBEB;
    margin: 15px 0;
}
.item-title {
    font-size: 20px;
    font-weight: 600;
    padding: 15px 0;
}
.item-encyclopedia .item-image {
    margin-top: -10px;

}

.item-anonse {
    line-height: 40px;
}
.ring-catalog {
    background: #A5D0F8;
}
.daimond {
    background: #CDE4F6;
}

.daimond-catalog-input {
    background: #fff;
    border: 1px solid #8D8D8D;
    border-radius: 10px;
    font-size: 13px;
    padding: 3px 10px;
    outline: none;
    max-width: 100px;
    width: 100%;
}
.catalog-filter-headling {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 0;
}
.popover-link {
    background: #666666;
    padding: 2px 8px;
    font-size: 12px;
    color: #d3d1d1;
    border-radius: 2px;
}
.popover-link:hover,
.popover-link:focus{
text-decoration: none;
    color: #d3d1d1;
}
.catalog-filter-item {
    padding: 30px 0;
}
.catalog-filter-item label {
    font-size: 12px;
    font-weight: 100;
    cursor: pointer;
    padding: 0 14px;
    text-transform: uppercase;
}
#catalog-filter-clear label {
    font-size: 12px;
    font-weight: 100;
    cursor: pointer;
    padding: 0 10px;
    text-transform: uppercase;
}
.catalog-filter-diamond {
    border-bottom: 1px dotted;
    padding-top: 20px;
    padding-bottom: 50px;
}
.catalog-filter-item input[type="checkbox"] {
    display: none;
}
.selected{color:#F9BB79}
.catalog-filter-inner {
    margin: auto;
    overflow: hidden;
    max-width: 400px;
}
.daimond-result {
    padding: 30px 0;
}
.daimond-result .nav-tabs > li > a {
    border-radius: 0;
    border: 1px solid #EBEBEB;
    margin: 0;
    margin-right: -1px;
    text-transform: uppercase;
    color: #666666;
    background: transparent;
}
.daimond-result .nav-tabs > li > a:hover {
    color: #666666;
    background: #EBEBEB;
    border: 1px solid #EBEBEB;
}
.daimond-result .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #EBEBEB;
    color: #666666;
    border: 1px solid #EBEBEB;
}
.daimond-list .gray-header {
    background: #EBEBEB;
}
.daimond-list {
    font-size: 11px;
}

.daimond-list .item-price,
.daimond-list .item-compare,
.daimond-list .item-more,
.daimond-list .item-weight,
.daimond-list .item-color,
.daimond-list .item-clean,
.daimond-list .item-form,
.daimond-list .item-sertificat,
.daimond-list .item-more
{
    padding: 5px 0;
    display: block;
}
.daimond-list input[type="checkbox"] {
    margin: 2px 0 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px \9;
    line-height: normal;
}
.daimond-list .item {
    overflow: hidden;
    border-bottom: none;
    margin: 10px 0;
}
.daimond-info span {
    display: block;
    line-height: 6px;
    color: #666666;
}
.daimond-info span p {
    display: inline-block;
    color: #0E0301;
}


/* личный кабинет */
.cabinet-wrap span {
    display: block;
}
.profile-info {
    min-height: 150px;
}
.cabinet-nav>ul>li {
    float: left;
    display: block;
    list-style-type: none;
}
.cabinet-nav>ul>li a {
    padding: 10px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.cabinet-nav>ul>li a:hover,
.cabinet-nav>ul>li a:focus,
.cabinet-nav>ul>li>a.active{
    text-decoration: none;
    color: #845750;
}
.cabinet-nav {
    background: #1D0805;
    overflow: hidden;
    margin: 30px 0;
}

.cabinet-nav ul {
    padding: 0 10px;
    overflow: hidden;
    margin: 0;
}
.simple-input {
    width: 100%;
    max-width: 300px;
    background: #E4E0E0;
    border: 1px solid #646262;
    border-bottom: transparent;
    border-right: transparent;
    padding: 6px 0px;
    padding-left: 15px;
    font-size: 12px;
    outline: none;
}
.cabinet-wrap span {
    display: block;
    width: 50%;
    float: left;
    padding: 20px 20px;
}
.label-text {
    color: #9E9E9E;
}
.cabinet-wrap .input-text {
    padding: 15px 0;
}
.item-phone {
    display: block;
    padding: 40px 0;
}
.item-payment {
    display: block;
    padding: 20px 0px;
}
.item-shipping-status {
    display: block;
    padding: 40px 0;
}

.item-shipping-type {
    display: block;
    padding: 40px 0;
}

.gray-header {
    background: #E4E0E0;
    overflow: hidden;
    padding: 10px 0;
}
.item-name-profile {
    display: block;
    padding: 10px 0px;
}






/* корзина */
.item-image-small {
    margin: auto;
    border-radius: 50%;
}
.basket-quantity-input {
    max-width: 60px;
    background: #E4E0E0;
    border: 1px solid #646262;
    border-bottom: transparent;
    border-right: transparent;
    padding: 2px 0px;
    text-align: center;
    font-size: 18px;
    outline: none;
}
.basket-quantity-input:before {
    content: 'Количество';
    padding: 10px;
    display: block;
    width: 20px;

}

.item-quantity:before {
    content: 'Количество';
    font-size: 11px;
    margin-top: -2px;
    padding: 0px 5px;
}
.item-delete {
    font-size: 12px;
}
.item-delete a{
    color: #332c24;
}
.item-name {
    display: block;
    padding: 20px 0px;
}
.item-quantity {
    display: block;
    padding: 35px 0;
}
.item-price {
    display: block;
    padding: 40px 0;
}
.item-delete {
    display: block;
    padding: 41px 0;
}
.item-more {
    display: block;
    padding: 40px 0;
}

.item {
    border-bottom: 1px solid #E4E4E4;
    margin: 10px 0;
}

.item a{
    color: #332c24;
    cursor: pointer;
}
.daimond-info a {
    color: #fff;
}
.daimond-info {
    padding: 5px 10px;
    border-left: 1px solid #D2D0D0;
}
.daimond-info span:nth-child(2) {
    margin-top: 20px;
}
.daimond-info-head {
    text-transform: uppercase;
    border-left: 1px solid #D2D0D0;
    padding: 10px;
    margin: -10px 0;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #666666;
}
.daimond-list .item-list {
    overflow: overlay;
    max-height: 180px;
    margin-right: -30px;
    position: relative;
    z-index: 1;
}

/* каталог бриллиантов */

.diamond-nav {
    padding: 20px 0;
    overflow: hidden;
}
.grid10 {
    overflow: hidden;
    width: 10%;
    float: left;
    display: inline-block;
}
.diamond-nav li {
    float: left;
    list-style-type: none;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}

.diamond-nav li a{
    color: #332c24;
    padding-top: 70px;
    width: 100%;
    max-width: 95px;
    display: inline-block;
    margin: auto;
}

.diamond-nav li a:hover {
    color: #F9BB79;
    text-decoration: none;
}

.diamond1 {
    background: url("../images/template/diamond-catalog-bg.png");
    background-position: -11px -10px;
}

.diamond2 {
    background: url("../images/template/diamond-catalog-bg.png");
    background-position: -104px -10px;
}

.diamond3 {
    background: url("../images/template/diamond-catalog-bg.png");
    background-position: -202px -10px;
}

.diamond4 {
    background: url("../images/template/diamond-catalog-bg.png");
    background-position: -293px -10px;
}

.diamond5 {
    background: url("../images/template/diamond-catalog-bg.png");
    background-position: -386px -10px;
}

.diamond6 {
    background: url("../images/template/diamond-catalog-bg.png");
    background-position: -482px -10px;
}

.diamond7 {
    background: url("../images/template/diamond-catalog-bg.png");
    background-position: -577px -10px;
}

.diamond8 {
    background: url("../images/template/diamond-catalog-bg.png");
    background-position: -671px -10px;
}

.diamond9 {
    background: url("../images/template/diamond-catalog-bg.png");
    background-position: -763px -10px;
}

.diamond10 {
    background: url("../images/template/diamond-catalog-bg.png");
    background-position: -856px -10px;
}

.diamond1:hover {
    background: url("../images/template/diamond-catalog-bg.png");
    background-position: -11px -117px;
}

.diamond2:hover {
    background: url("../images/template/diamond-catalog-bg.png");
    background-position: -104px -117px;
}

.diamond3:hover {
    background: url("../images/template/diamond-catalog-bg.png");
    background-position: -202px -117px;
}

.diamond4:hover {
    background: url("../images/template/diamond-catalog-bg.png");
    background-position: -293px -117px;
}

.diamond5:hover {
    background: url("../images/template/diamond-catalog-bg.png");
    background-position: -386px -117px;
}

.diamond6:hover {
    background: url("../images/template/diamond-catalog-bg.png");
    background-position: -482px -117px;
}

.diamond7:hover {
    background: url("../images/template/diamond-catalog-bg.png");
    background-position: -577px -117px;
}

.diamond8:hover {
    background: url("../images/template/diamond-catalog-bg.png");
    background-position: -671px -117px;
}

.diamond9:hover {
    background: url("../images/template/diamond-catalog-bg.png");
    background-position: -763px -117px;
}

.diamond10:hover {
    background: url("../images/template/diamond-catalog-bg.png");
    background-position: -856px -117px;
}

.block3 {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

/* блок 4 */
.block4 {
    background: #FBFCFE;
    padding-bottom: 30px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    position: relative;
    z-index: 9;
}

.block4-inner-img img {
    margin: auto;
}

.news-title {
    display: block;
    font-weight: 600;
    text-transform: uppercase;
}

.news-anonse {
    font-size: 12px;
}

.thumb {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(153,153,153,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(153,153,153,1);
    box-shadow: 0px 0px 20px 0px rgba(153,153,153,1);
    margin: auto;
}

.news-item {
    padding: 25px 0;
    overflow: hidden;
}

/* создай свое кольцо */
.create-your-ring .step {
    display: block;
    margin-right: 45px;
}
.create-your-ring .step.active:before {
    content: "";
    width: 53px;
    height: 103px;
    background: url("../images/template/step-rgt-bg.png") no-repeat top right;
    top: -6px;
    right: -51px;
    position: absolute;
    display: inline-block;
    z-index: 1;
}
.create-your-ring .step a {
    color: #3f3f3f;
}

.create-your-ring .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: transparent;
    border-radius: 0;
    background: transparent;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    display: inline-block;
}
.create-your-ring .nav > li > a:hover, .nav > li > a:focus {
    border: transparent;
    border-radius: 0;
    background: transparent;
    display: inline-block;
}
.create-your-ring .nav-tabs {
    border: transparent;
}
.create-your-ring .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border:transparent;
    border-radius: 4px 4px 0 0;
}
.step-quantity {
    font-size: 48px;
    padding: 1px 0;
    display: block;
    float: left;
}
.step-text {
    padding: 16px 0;
    font-size: 20px;
    line-height: 19px;
    display: block;
    max-width: 120px;
    float: left;
}
.step1-img {
    padding: 20px 0;
}
input.filter-frame {
    display: block;
    margin: 12px 0;
}
.checkbox-img {
    float: left;
}



/* блок 5 */
.block5 {
    background: #FFF7DF;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.block5-bg {
    text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}

.block7{
    background: url("../images/template/block7-bg.jpg") center top no-repeat;
    background-color: #0E0301;
    color: #fff;
    padding: 10px 0;

}

.block7 h1.block-title {
    font-size: 95px;
}

.block7 .button-white{
    margin: 70px auto;
}

/* блок 6 */
.block6 {
    position: relative;
    z-index: 8;
}

/* блок 7 */
.block7 {
    position: relative;
    z-index: 7;
    -webkit-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.75);
}

/* блок 8 */
.block8 {
    background: #F5F8FD;
    -moz-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.75);
    padding: 0 0 40px 0;
    box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.75);
    position: relative;
}

.block8 h1.block-title{
    font-size: 50px;
}


/* футер */
.footer {
    background: #EBEBEB;
    padding: 30px 0;
}

.footer-headling {
    font-size: 18px;
    padding-bottom: 20px;
    display: block;
}

.footer ul {
    padding: 0;
}

.footer ul li{
    list-style-type: none;
}

.footer ul li a{
    color: #332c24;
    font-size: 12px;
}

.footer p{font-size: 12px}


.soc {
    width: 100%;
    overflow: hidden;
}

.social {
    padding: 0px 5px;
    margin-bottom: 20px;
    display: block;
    float: left;
}
.create-your-ring .checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 0px;
}
.create-your-ring .tab-content {
    font-size: 12px;
    padding: 20px 0;
}
.filter-group-headling {
    font-size: 16px;
}
.create-your-ring  .checkbox + .checkbox {
    margin-top: 20px;
}
li.step.step-last {
    margin: 0;
    background: #1D0805;
    padding: 14px 10px;
    max-width: 179px;
    text-align: center;

}
li.step.step-last a {
    color: #fff;
    overflow: hidden;
    padding: 0;
    font-size: 11px;
    display: inline-block;
}
li.step.step-last a:hover,
li.step.step-last a:focus,
.step.step-last.active {
    color: #fff;
}
.create-your-ring .step.step-last.active:before{
    content: '';
    background: none;
}
.step.step-last a .step-text {
    padding: 0;
    display: block;
    text-align: center;
    width: 100%;
    max-width: 100%;
}
.daimond-one-img {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}
.content-wrapper {
    padding: 25px 0;
    overflow: hidden;
}
.property-container-dark {
    background: #1D0805;
    overflow: hidden;
    padding: 15px 0px;
    color: #fff;
    text-align: center;
    margin: 10px 0;
}

.property-container-light {
    background: #F9F2EB;
    overflow: hidden;
    padding: 15px 0px;
    color: #1D0805;
    text-align: center;
    margin: 10px 0;
}

.property-container-desc {
    background: #EDEAE7;
    overflow: hidden;
    padding: 15px 0px;
    color: #1D0805;
    text-align: justify;
    margin: 10px 0;
}
.main-price {
    font-size: 40px;
    text-transform: uppercase;
}
.cart-add-btn {
    background: #1D0805;
    padding: 10px 0;
    padding-left: 40px;
    max-width: 210px;
    margin: 10px auto;
    width: 100%;
    display: block;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
}
.cart-add-btn:hover,
.cart-add-btn:focus{
    background: #5D0F04;
    color: #fff;
    text-decoration: none;
}
.add-to-cart:before {
    width: 50px;
    height: 45px;
    content: " ";
    background-color: #5D0F04;
    background-image: url('../images/template/add-to-cart.png');
    position: absolute;
    left: 0px;
    top: -4px;
}
.add-to-create-ring:before {
    width: 50px;
    height: 45px;
    content: " ";
    background-color: #5D0F04;
    background-image: url('../images/template/add-create-ring.png');
    position: absolute;
    left: 0px;
    top: -4px;
}
.teaser-item-name {
    color: #464646;
    font-size: 18px;
    text-align: center;
}
.teaser-item {
    border-top: 1px solid #E4E4E4;
    padding: 10px;
    transition: all 0.5s ease;
}
.teaser-item:hover,
.teaser-item:focus{
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.5);
}
.teaser-list-items .pagination {
    display: table;
    margin: auto;
    padding: 20px 0;
}
.pagination > li > a, .pagination > li > span {
    background: #A09F9F;
    border: transparent;
    color: #fff;
    transition: background 0.5s ease;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background: #1D0805;
}
.pagination > li {
    margin: 0 5px;
    display: inline-block;
    border-radius: 2px;
    overflow: hidden;
}
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: 0;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background: #1D0805;
    color: #fff;
}
.teaser-item-img img {
    margin: auto;
}
.callback-mail {
    background: url("../images/template/mail.jpg") 152px center no-repeat;
    display: block;
    padding: 10px 25px;
    padding-right: 52px;
    max-width: 210px;
    width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    text-transform: uppercase;
    color: #CCC;
    transition: all 0.5s ease;
}
.callback-phone {
    background: url("../images/template/phone.jpg") 152px center no-repeat;
    display: block;
    padding: 10px 25px;
    padding-right: 52px;
    max-width: 210px;
    width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    text-transform: uppercase;
    color: #CCC;
    transition: all 0.5s ease;
}
.callback-mail:hover, .callback-mail:focus,
.callback-phone:hover, .callback-phone:focus{
    color: #ccc;
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.3);
    text-decoration: none;
}
.daimond-desc {
    background: #F2F2F2;
    padding: 30px 0;
}
.content-header-small {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 18px;
    padding: 10px 0;
}
.daimond-sertificat img, .daimond-carat img,
.daimond-main-img img{
    margin: auto;
}
.daimond-props span{
    display: block;
    width: 100%;
}
.daimond-props>.row {
    padding: 10px 0;
}
.content-wrapper>.row,
.content-wrapper>.row .row{
    padding: 10px 0;
}

@media screen and (max-width: 991px) {

    .grid10 {
        width: 20%;
    }
    .daimond-list .item-list {
        overflow: visible;
        max-height: 100%;
        margin-right: 0;
        position: relative;
        z-index: 1;
    }
    .daimond-info {
        border: none;
    }
    .daimond-info-head {
        border: none;
        padding-top: 20px;
    }
    .mobile-only{display: block!important}
    .desctop-only{display: none!important}
    .cabinet-wrap span {
        display: block;
        width: 50%;
        float: none;
        text-align: left;
        padding: 0;
    }
    .item-more {
        padding: 5px 0;
    }
    .item-name-profile {
        padding: 5px 0px;
    }
    .item-name-profile:before {
        content: 'Название товара:';
        display: block;
        color: #969696;
    }
    .item-shipping-type {
        padding: 5px 0;
    }
    .item-shipping-type:before {
        content: 'Способ доставки:';
        display: block;
        color: #969696;
    }
    .item-phone {
        padding: 5px 0;
    }
    .item-phone:before {
        content: 'Телефон:';
        display: block;
        color: #969696;
    }
    .item-payment {
        padding: 5px 0px;
    }
    .item-payment:before {
        content: 'Оплата:';
        display: block;
        color: #969696;
    }
    .item-shipping-status {
        padding: 5px 0;
    }
    .item-shipping-status:before {
        content: 'Статус:';
        display: block;
        color: #969696;
    }
    .item-name {
        padding: 5px 0px;
    }
    .item-name:before {
        content: 'Название товара:';
        display: block;
        color: #969696;
    }
    .item-quantity {
        padding: 5px 0;
    }
    .item-quantity:before {
        content: 'Количество:';
        display: block;
        color: #969696;
    }
    .item-price {
        padding: 5px 0;
    }
    .item-price:before {
        content: 'Цена:';
        display: block;
        color: #969696;
    }
    .item-delete {
        padding: 5px 0;
    }
    .item-quantity:before {
        content: 'Количество';
        font-size: 14px;
        margin-top: -2px;
        padding: 0px 0px;
    }
    .top-block-bg {
        margin-bottom: 0;
    }
    .top-menu-inner .navbar-nav > li {
        margin: 0;
        border: none;
        float: none;
        border-bottom: 1px solid #F7DBBE;
        border-top: 1px solid #fff;
    }
    .top-menu-inner .navbar-nav > li:first-child {
        border-top: none;
    }
    .top-menu-inner .navbar-nav > li:last-child {
        border-bottom: none;
    }
    .header-inner .col-xs-12.col-sm-6.col-md-3 {
        min-height: 44px;
    }
    .phone {
        padding: 10px 0;
        display: block;
    }
    .item-form:before {
        content: 'Форма';
        display: block;
        color: #969696;
    }
    .item-weight:before {
        content: 'Вес';
        display: block;
        color: #969696;
    }
    .item-color:before {
        content: 'Цвет';
        display: block;
        color: #969696;
    }
    .item-color:before {
        content: 'Цвет';
        display: block;
        color: #969696;
    }
    .item-clean:before {
        content: 'Чистота';
        display: block;
        color: #969696;
    }
    .item-sertificat:before {
        content: 'Сертификат';
        display: block;
        color: #969696;
    }
    .daimond-list input[type="checkbox"] {
        margin-left: 0;
        margin-right: 0;
    }
    .item-compare:before{
        content: 'Сравнить';
        display: block;
        color: #969696;
    }
    .daimond-list .item {
        border-bottom: 1px solid #E4E4E4;
    }
}

@media screen and (max-width: 768px) {
    .grid10 {
        width: 50%;
    }
    .cabinet-wrap span {
        display: block;
        width: 100%;
        float: none;
        text-align: left;
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    h2.block-title {
        font-size: 20px;
    }
    h3.block-title {
        font-size: 18px;
    }
    h1.block-title,
    .block3 h1.block-title,
    .block7 h1.block-title,
    .block8 h1.block-title{
        font-size: 22px;
    }
}

@media screen and (min-width: 991px) {
    .top-menu-inner nav {
        margin-left: -15px;
        margin-right: -15px;
    }

}